.book {
  display: flex;
  justify-content: center;
  gap: 12px;
  border: 1px solid #a5bdbe;
  border-radius: 8px;
  padding: 24px;
  width: 280px;

  img {
    width: 120px;
    border-radius: 4px;
  }

  .info {
    display: grid;
    gap: 8px;
    align-items: center;
  }

  button {
    width: 50%;
  }
}

@media screen and (min-width: 620px) {
  .book {
    width: 555px;
    img {
      width: 177px;
    }
  }
}
