<article class="book">
    <div class="img-container">
        <img [src]="bookImgUrl" >
    </div>

        <h3>{{book.volumeInfo.title}}</h3>

        <div class="book-description flex-center">
            <p *ngIf="!showFullDescription">{{(book.volumeInfo.description  | slice:0:100) || 'Book Has No Description' }}...</p>
            <p *ngIf="showFullDescription">{{book.volumeInfo.description | slice:0:250 }}</p>
        </div>
        <button *ngIf="book.volumeInfo.description" (click)="toggleDescription()">{{showFullDescription ? 'Read less' : 'Read more'}}</button>
</article>

