<div class="main-layout flex-center">

    <header> <span>BooksAI</span></header>

    <div class="form-container">
        <ngx-typed-js class="flex-center"
            [strings]="['Start by searching your book', 'Absolute Free', 'Search your books by name', 'Find your lovely books']"
            [shuffle]="true" [typeSpeed]="40">
            <span class="typing"></span>
        </ngx-typed-js>
        <form class="flex-center">
            <input type="text" name="bookName" placeholder="Search By Name..." [(ngModel)]="bookName">
            <mat-icon><span class="material-symbols-outlined" (click)="onSearchBook()">search</span></mat-icon>
        </form>
    </div>
    <div class="book-list">
        <app-book [book]="book" *ngFor="let book of books$ | async"></app-book>
    </div>

</div>